@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .divCard {
    @apply h-80 flex justify-center items-center w-fit font-display
  }

  .expand {
    @apply w-[40rem] text-xl
  }

  .card {
    @apply text-white p-12 mx-8 glass
  }

  .card p {
    @apply pt-4
  }

  .card h2 {
    @apply font-semibold mx-0
  }
}

.glass {
  /* From https://css.glass */
  background: rgba(184, 184, 184, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.1px);
  -webkit-backdrop-filter: blur(15.1px);
  border: 1px solid rgba(184, 184, 184, 0.09);
}

body {
  color: #fff;
  background: linear-gradient(to bottom,
      transparent,
      #000) #000
}